/* Open-sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}


.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-style: normal ;
    font-optical-sizing: auto;
    font-variation-settings: "width" 100;
}

/* Common Css */
.text-primary{
    color: #FD6E0A;
}
.section-heading{
    color: #FD6E0A;
    font-size: 35px;
    font-weight: bold;
}
.secondary-color{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
}

/* Navigation Start */
.header-bg{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    background-color: antiquewhite;
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 30px;
}
.navigation .title{
    font-weight: 700;
    font-size: 45px;
}

.navigation ul{
    display: flex;
    align-items: center;
}
.navigation ul li{
    list-style: none;
    margin-right: 50px;
}
.navigation ul li a{
    text-decoration: none;
    
}
/* Navigation End */

/* Banner Start */
.banner{
    display: flex;
    margin: 0 0 0 200px;
}
.banner-content{
    width: 50%;
}
.banner-greatings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 185px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-content button{
    margin-right: 30px;
}
/* Banner End */

/* About Start */
.about{
    background-color: #FFF8F3;
    margin: 30px 230px 0;
    border-radius: 5px;
    padding: 130px 156px;
}

.about-content{
    text-align: center;
    border: 1px dotted #FD6E0A;
    border-radius: 5px;
    padding: 20px;
}
.about-content .title{
    margin-bottom: 30px;
}
.about-description{
    line-height: 26px;
}
.information{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.information .name{
    font-size: 20px;
}
.information .data{
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
}
/* About End */

/* What I Do section start */
.what-do{
    margin: 0 230px;
    padding: 110px 0;
}
.what-do-content{
    text-align: center;
    padding: 0 25px;
}
.what-do-content .title{
    margin-bottom: 30px;
}
.what-do-content .about-description{
    margin-bottom: 50px;
    
}

/* Card box */
.card-box{
    display: flex;
    gap: 25px;
}
.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    border-radius: 5px;
}
.card img{
    margin-bottom: 30px;
}
.card .card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card .card-description{
    font-size: 16px;
    line-height: 28px;
}

/* What I Do section End */

/* Resume Section Start */
.resume{
    margin: 0 230px;
    padding: 50px 0
    100px;
}
.resume .header{
    margin-bottom: 100px;
    text-align: center;
}
.resume-content{
    display: flex;
}
.education{
    width: 50%;
    margin-right: 50px;
}
.education .title{
    font-size: 30px;
    font-weight: bold;
}

.education-details{
    margin-top: 30px;
    padding-right: 30px;
}
.education-details .headding{
    font-size: 25px;
    font-weight: bold;
}
.education-details .sub-headding{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: #757575;
    margin-bottom: 20px;
}
.education-details .content{
    margin-bottom: 30px;
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
.cv-button{
    text-align: center;
    margin-top: 20px;
}
/* Resume Section end */

/* Form Section Start */
.form-section{
    background-color: #FFF8F3;
}
.container{
    margin: 0 230px;
    padding: 100px 0;
    display: flex;
}
.container .left{
    padding-right: 100px;
    width: 50%;
}
.container .right{
    width: 50%;
}
.content{
    
}
.form-section .title{
    margin-bottom: 20px;
}
.form-section .short-description{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.social-icon a{
    margin-right: 25px;
}
.social-icon i{
    font-size: 30px;
    color: #FD6E0A;
}

#form-area input{
    display: block;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 100%;
    outline: none;
}
#form-area #textarea{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 25px;
}
/* Form Section End */

/* Footer section start */
.footer-bg{
    background-color: #FD6E0A;
    padding: 20px 0;
}
.footer{
    text-align: center;
}
.footer span{
    font-size: 18px;
    font-weight: 600;
}
.footer i{
    
    color: white;
}
.footer a{
    text-decoration: none;
    color: white;
}
/* Footer section End */


/* Responsive */
@media screen and (max-width:576px){
    .header-bg {
        background-image: url(../images/header_bg.png);
    }
    
    .navigation {
        margin: 0 20px;
    }
    .navigation ul li {
        margin-right: 0;
        margin-left: 20px;
    }

    .banner {
        margin: 0 0 0 20px;
    }
    .banner-content {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .banner-greatings {
        font-size: 30px;    
        margin-top: 50px;
    }
    .banner-title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .banner-description {
        font-size: 16px;
        margin-bottom: 30px;
    }   
    .btn-primary {
        font-size: 16px;
        padding: 18px 30px;
    }
    .banner img{
        display: none;
    }
    .banner-content button {
        margin-right: 10px;
    }

    /* About */
    .about {
        margin: 30px 30px 0;
        padding: 15px;
    }
    .information .name {
        font-size: 16px;
    }
    .information .data {
        font-size: 12px;
    }
    /* What i DO  */
    .what-do {
        margin: 0 30px;
        padding: 30px 0;
    }
    .card-box {
        flex-direction: column;
    }
    .card {
        text-align: center;
    }
    /* Resume */
    .resume {
        margin: 0 28px;
        padding: 30px 0 0px;
    }
    .resume .header {
        margin-bottom: 40px;
    }
    .resume-content {
        gap: 20px;
    }
    .education {
        margin-right: 0;
    }
    .education .title {
        font-size: 20px;
    }
    .education-details {
        margin-top: 20px;
        padding-right: 10px;
    }
    .education-details .headding {
        font-size: 20px;
    }
    .education-details .sub-headding {
        font-size: 15px;
        margin-top: 10px;
    }
    .cv-button {
        margin-top: 0;
        margin-bottom: 37px;
    }
    .container {
        margin: 0 28px;
        padding: 50px 0;
        flex-direction: column;
    }
    .container .left {
        padding-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .container .right {
        width: 100%;
    }
    #form-area input {
        margin-bottom: 12px;
        width: calc(100% - 26px);
    }
    #form-area #textarea{
        width: calc(100% - 26px);
    }








}

@media screen and (min-width:577px) and (max-width:768px){
    .header-bg {
        background-image:  url(../images/header_bg.png);
    }
    
    .navigation {
        margin: 0 78px;
    }
    .navigation ul li {
        margin-right: 0;
        margin-left: 20px;
    }
    .banner {
        margin: 0 0 0 80px;
    }
    .banner-content {
        width: 50%;
        margin-bottom: 50px;
    }
    
    .banner-greatings {
        font-size: 30px;    
        margin-top: 50px;
    }
    .banner-title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .btn-primary {
        padding: 18px 17px;
    }
    .margin{
        margin-bottom: 15px;
    }
    .banner img {
        width: 50%;
        margin-right: 40px;
    }
    .banner-content button {
        margin-right: 10px;
    }
    /* about */
    .about {
        margin: 30px 80px 0;
        padding: 20px;
    }
    .about-content {
        padding: 10px;
    }
    .information .name {
        font-size: 18px;
    }
    .information .data {
        font-size: 14px;
    }

    /* what i do  */
    .what-do {
        margin: 0 80px;
        padding: 50px 0;
    }
    .card-box {
        gap: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* Resume  */
    .resume {
        margin: 0 80px;
        padding: 20px 0 50px;
    }
    .resume .header {
        margin-bottom: 60px;
    }
    .resume-content {
        gap: 20px;
    }
    
    .education {
        width: 50%;
        border: 1px solid gray;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-right: 0;
    }
    .education .title {
        font-size: 26px;
    }
    .education-details {
        margin-top: 10px;
        margin-right: 0;
    }
    .education-details .headding {
        font-size: 20px;
    }
    .education-details .sub-headding {
        font-size: 18px;
    }

    /* From  */

    .container {
        margin: 0 80px;
        padding: 50px 0;
        gap: 20px;
    }
    .container .left {
        padding-right: 00px;
    }
    #form-area input {
        margin-bottom: 10px;
        width: 90%;
    }
    #form-area #textarea {
        width: 90%;
        height: 100px;
    }














}
